<p class="lead">
    <form method="POST" action="/login" class="form">
        <input name="email" value="rugoogle.ru" class="form-controll">
        <input name="password" value="demo123456" class="form-controll">
        <button type="submit">Вход</button>
    </form>
</p>