<!-- template "about.tpl.html"-->
<section class="container">
    <h3>
        Веб-приложение реализовано с использованием:
    </h3>
    <div class="list-group">
        <a href="http://sailsjs.org" target="_blank" class="list-group-item" >
            <h4 class="list-group-item-heading">Sails</h4>
            <p class="list-group-item-text">Server-side MVC framework </p>
        </a>
        <a href="https://angularjs.org/" target="_blank" class="list-group-item">
            <h4 class="list-group-item-heading">AngularJS</h4>
            <p class="list-group-item-text">Client-side MVC framework </p>
        </a>
    </div>
    <p>https://developer.mozilla.org/en-US/docs/Web/API/EventTarget.addEventListener</p>
    <table class="browserref notranslate">
        <tbody><tr>
                <th style="width:20%;font-size:16px;text-align:left;">Method</th>
                <th style="width:16%;" class="bsChrome" title="Chrome"></th>
                <th style="width:16%;" class="bsIE" title="Internet Explorer"></th>
                <th style="width:16%;" class="bsFirefox" title="Firefox"></th>
                <th style="width:16%;" class="bsSafari" title="Safari"></th>
                <th style="width:16%;" class="bsOpera" title="Opera"></th>                
            </tr>
            <tr>
                <td style="text-align:left;">addEventListener()</td>
                <td>1.0</td>
                <td>9.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>7.0</td>
            </tr>
            <tr>
                <td style="text-align:left;">removeEventListener()</td>
                <td>1.0</td>
                <td>9.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>7.0</td>
            </tr>
        </tbody></table>
    <div class="row">
        <h4 class="text text-center">Формат A3</h4>
        
        <a href="https://ru.wikipedia.org/wiki/A3">https://ru.wikipedia.org/wiki/A3</a> - A3 — формат бумаги, определённый стандартом ISO 216, размером —<strong> 297×420 мм</strong> (11,7×16,5 дюймов);
    </div>

</section>
<!-- //template "about.tpl.html"-->