<!-- release_list.tpl.html --> 
<div class="col-sm-12 no-padding" loading-container="isBusy || tableParams.settings().$loading">
    <div class="col-sm-12">
        <div class="col-sm-12 no-padding">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a>Выпуски(номера) газет</a></li>
            </ul>
        </div>

        <div class="col-sm-12 no-padding content-table">
            <div class="pusher-15"></div>

<!--            <div class="col-sm-6">
                <search-box ng-model="tableParams.filter()['userName']"></search-box>
            </div>-->
            <div class="pull-right">
                <button ng-click="onAddUser()" class="btn btn-primary pull-right">Добавить</button>
            </div>

            <div class="pusher-15"></div>

            <div class="col-sm-12 no-padding">
                <table ng-table="tableParams" class="table table-striped table-fixed">
                    <tbody>
                        <tr ng-repeat="item in $data">
                            <td data-title="'Имя'" sortable="'name'"><a ui-sref="pageedit({id:item.id})"> {{item.name}}</a></td>
                            <td data-title="'Описание'" sortable="'email'">{{item.description}}</td> 
                            <td data-title="'Кол-во страниц(полос)'" sortable="'pagesCount'">{{item.pagesCount}}</td> 
                            <td data-title="'Действия'">
                                <button class="btn btn-xs btn-success" ng-click="onEditUser(item)">Изменить</button>
                                <button class="btn btn-xs btn-danger" ng-click="onDeleteUser(item)">Удалить</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- //release_list.tpl.html-->