<!-- typeblockinfo_list.tpl.html --> 
<div class="col-sm-12 no-padding" loading-container="isBusy || tableParams.settings().$loading">
    <div class="col-sm-12">
        <!--            <h3 class="text text-left task-title col-sm-12">
                        Управление пользователями
                                        <button
                                                                      ng-click="onOpenInstruction()"
                                                                      type="button"
                                                                      class="btn btn-info pull-right">
                                            Instruction
                                        </button>
                    </h3>-->

        <!--            <hr/>
                    <div class="pusher-15"></div>-->

        <div class="col-sm-12 no-padding">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a>Типы информационных блоков</a></li>
            </ul>
        </div>

        <div class="col-sm-12 no-padding content-table">
            <div class="pusher-15"></div>

            <div class="col-sm-6">
                <search-box ng-model="tableParams.filter()['userName']"></search-box>
            </div>
            <div class="col-sm-6">
                <button ng-click="onAddUser()" class="btn btn-primary pull-right">Добавить</button>
            </div>

            <div class="pusher-15"></div>

            <div class="col-sm-12 no-padding">
                <table ng-table="tableParams" class="table table-striped table-fixed">
                    <tbody>
                        <tr ng-repeat="item in $data">
                            <td data-title="'Имя'" sortable="'name'">{{item.name}}</td>
                            <td data-title="'Описание'" sortable="'email'">{{item.description}}</td> 
                            <td data-title="'Действия'">
                                <button class="btn btn-xs btn-success" ng-click="onEditUser(item)">Изменить</button>
                                <button class="btn btn-xs btn-danger" ng-click="onDeleteUser(item)">Удалить</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- //typeblockinfo_list.tpl.html-->